<hr />
<p><%= ProcessTracking::Application.application_string %> <%= ProcessTracking::Application.release_name %> <%= link_to ProcessTracking::Application.commit_information, ProcessTracking::Application.repo_url %> - <a href='mailto:<%= ProcessTracking::Application.config.admin_email %>'>Need Help? Drop us an email.</a></p>
<p><%= ProcessTracking::Application.host_name %></p>
