<p><%= ProcessTracking::Application.application_string %> <%= ProcessTracking::Application.release_name %> <%= link_to ProcessTracking::Application.commit_information, ProcessTracking::Application.repo_url %> - Need Help? Please create a ticket in <%= fresh_sevice_link %>.</p>
<p><%= ProcessTracking::Application.host_name %></p>
