%h2 Activity Logging
= form_for :process_plate, :url => process_plates_path do |form|
 %fieldset
  %ul
   %li
    %label{ :for => "user_barcode" } User barcode
    = text_field_tag "user_barcode"
    .live_results#user_barcode_results
    
   %li
    %label{ :for => "instrument_barcode" } Instrument barcode
    = text_field_tag "instrument_barcode"
    .live_results#instrument_barcode_results
    
   %li
    %label{ :for => "source_plates" } Source plates
    = text_area_tag "source_plates", '', :rows => 5,:cols => 17
    #source_plates_results
    
   %li
    %label{ :for => "instrument_process" } Instrument process
    %select#instrument_process{ :name => "instrument_process"}
     - for process_name, process_id in InstrumentProcess.sorted_by_name.map { |x| [x.name, x.id]}
      %option{ :value => process_id } #{process_name}
 
   %li
    %input{ :type => "submit", :value => 'Submit' }
 
- content_for :javascript do
 :javascript
    $("#user_barcode").change(function() {
      $.post('#{search_users_path}',{ user_barcode: $('#user_barcode')[0].value}, function(data) {
        $("#user_barcode_results").html(data);
      });
    });
    

    $("#instrument_barcode").change(function() {
      $.post('#{search_instruments_path}',{ instrument_barcode: $('#instrument_barcode')[0].value}, function(data) {
        $("#instrument_barcode_results").html(data);
      });
      
      $.post('#{processes_instruments_path}',{ instrument_barcode: $('#instrument_barcode')[0].value}, function(data) {
        $("#instrument_process").html(data);
      });
      
    });

    $('#user_barcode').keydown(function (e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode == 13) {
        $('#instrument_barcode').focus();
        $('#user_barcode').trigger('change');
        return false;
      }
    });

    $('#instrument_barcode').keydown(function (e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode == 13) {
        $('#source_plates').focus();
        $('#instrument_barcode').trigger('change');
        return false;
      }
    });



