%h2 Activity Logging

#service_responses
  %table
    %thead
      %tr
        %th.th Barcode
        %th Success?
        %th Error
        %th Purpose
        %th Study
    %tbody
      - for row in @results
        %tr
          %td
            = row[:barcode]
          %td
            = row[:success]
          %td
            = row[:error]
          %td
            = row[:purpose]
          %td
            = row[:study]

%br
= link_to 'Scan more labware', new_process_plate_path