- bed_ids.each_with_index do |bed_id_upcase, index|
  - bed_id = bed_id_upcase.downcase
  %fieldset{class: "barcode_column_#{index} barcode_column"}
    %legend #{bed_id_upcase} - Quadrant #{index + 1}
    %br/
    - ['bed','plate'].each do |row_id|
      %li
        %label.hidden{for: "#{bed_id}_#{row_id}"}
          = "#{row_id.titlecase} #{bed_id_upcase}"
        %label.layout_input_text= "#{row_id.titlecase}"
        = text_field_tag "#{bed_id}_#{row_id}", nil, :name => "robot[#{bed_id}][#{row_id}]", :size => 13
