<!DOCTYPE html>
<html>
<head>
  <title>ProcessTracking</title>
  <%= stylesheet_link_tag(:flash,:form,:formtastic_static,:formtastic_changes) %>
  <%= javascript_include_tag('jquery.min.js','rails.js','application.js') %>
  <%= csrf_meta_tag %>
</head>
<body>

<% flash_messages do |flash_type, messages| %>
  <%= content_tag(:div, messages, :class => 'flash', :id => "message_#{  flash_type}") %>
<% end %>

<%= yield %>
<%= yield :page_javascript %>
</body>
</html>



